{% extends 'base.html.twig' %}

{% block title %}Create Page{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create Page for {{ site.name }}</h1>
        
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Create Page</button>
        {{ form_end(form) }}
        
        <a href="{{ path('app_admin_site_dashboard', {'id': site.id}) }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
    </div>
{% endblock %}
